<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
    <body>
        <div class="wrapper">
            <div class="header">
                <a href="/logout">Logout</a>  
            </div> 
            <div class="top-table">
                <h1>Hello, {{user.first_name}} {{user.last_name}}</h1>
                <p>Welcome to your Dashboard!</p>
            </div>
        </div>
    </body>
</html>            